.CardDeck {
  margin-top: 5rem;
}

.CardDeck img {
  position: absolute;
  margin-left: auto;
  margin-right: auto;
  left: 0;
  right: 0;
  text-align: center;
}

.CardDeck h6 {
  background: aqua;
  color: darkslategrey;
  padding: 7px;
  width: fit-content;
  margin: 40px auto;
  border-radius: 4px;
}

.CardDeck h6:hover {
  background-color: lightsalmon;
  cursor: pointer;
  user-select: none;
}

.CardDeck .cards {
  margin-top: 5rem;
}

.CardDeck .icons {
  display: flex;
  justify-content: center;
}

.CardDeck .icons i {
  align-self: center;
}

.CardDeck .icons h2 {
  margin: .5rem;
}
