@import url('https://fonts.googleapis.com/css2?family=Noto+Serif&display=swap');


body {
  margin: 0;
  font-family: 'Noto Serif', serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #161a1d;
  color: #fefee3;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
